src/about.html
src/celticknots.html
src/clessc.html
src/equations.html
src/geneticalgorithm.html
src/index.html
src/interpreter.html
src/projects.html
src/css/style.css
src/cv/resume.aux
src/cv/resume.log
src/cv/resume.out
src/cv/resume.pdf
src/cv/resume.fdb_latexmk
src/cv/resume.fls
src/cv/resume.xdv
src/graphs/*.svg
src/images/favicon.ico
src/images/menu.png

